$app-max-width: 40rem;

@import "animations";
@import "font";
@import "scroll";
@import "themes";

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  @include std-font-props;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: $fw-regular;
}

body,
main {
  @extend .fancy-scrollbar;
  height: 100%;
  min-height: 99vh;
  width: 100%;
}

main {
  max-width: $app-max-width !important;
}

svg,
img {
  width: 1.5rem;
  max-width: 100%;
  height: auto;
}
