$std-scale-factor: 1.025;
$std-shrink-factor: 0.985;
$std-transition-duration: 0.3s;

.std-hover {
  @media (hover) {
    &:hover {
      outline: 0;
      transition: $std-transition-duration;
      cursor: pointer;
    }
  }

  &--glow {
    &:hover {
      @extend .glow;
    }
  }

  &--scale {
    transition: $std-transition-duration;

    &:hover {
      transition: $std-transition-duration;
      transform: scale($std-scale-factor);
    }
  }
}

.pressable {
  transition: $std-transition-duration;

  &:active {
    transform: scale($std-shrink-factor) !important;
  }
}

.fade-in {
  animation: 0.75s fade-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1.5;
  }
}

.glow {
  filter: drop-shadow(0 0 0.5rem var(--secondary-content));
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.text-moving-color {
  animation: color-change 8s infinite;

  &-late {
    @extend .text-moving-color;
    animation-delay: 2000ms !important;
  }

  &-later {
    @extend .text-moving-color;
    animation-delay: 4000ms !important;
  }
}

@keyframes color-change {
  0% {
    color: var(--white);
  }
  30% {
    color: var(--secondary);
  }
  100% {
    color: var(--white);
  }
}

.background {
  overflow: hidden;
  position: relative;

  &-sliding {
    position: fixed;
    left: 0;
    top: 0;
    animation: slide 30s linear infinite;
    z-index: -1;

    background-color: #1c1c1c;
    opacity: 1;
    background-image: linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000),
      linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000),
      linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000),
      linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000),
      linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077),
      linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077);
    background-size: 22px 39px;
    background-position: 0 0, 0 0, 11px 19px, 11px 19px, 0 0, 11px 19px;
    // background: url("background.jpg") repeat-x;
    width: 200vw;
    height: 200vh;
  }
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translateX(-10rem);
  }
}
