$fw-regular: 400;
$fw-bold: 700;

@mixin std-font-props {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-block-start: 0;
  margin-block-end: 0;

  line-height: 1.15rem;
  @apply text-white;
}

h1 {
  line-height: 2.25rem;
}

h2 {
  line-height: 1.75rem;
}

a {
  @apply text-white underline;
  @extend .text-hover;
}

address {
  font-style: normal;
}

.text-hover {
  &:hover {
    @apply text-pink;
  }
}

.text-no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.text-cut {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
