.theme-kms {
  --3xl: 1.75rem;
  --2xl: 1.5rem;
  --xl: 1.25rem;
  --xs: 0.75rem;

  --white: #f6f5fa;
  --black: #000000;
  --primary: #141627;
  --primary-content: #f6f5fa;
  --secondary: #fd436f;
  --secondary-content: #f6f5fa;
}
