.theme-kms {
  --3xl: 1.75rem;
  --2xl: 1.5rem;
  --xl: 1.25rem;
  --xs: 0.75rem;

  --white: #ffffff;
  --black: #000000;
  --primary: #e0dee7;
  --primary-content: #000000;
  --secondary: #3a10e5;
  --secondary-content: #e0dee7;
}
