.theme-kms {
  --3xl: 1.75rem;
  --2xl: 1.5rem;
  --xl: 1.25rem;
  --xs: 0.75rem;

  --white: #ffffff;
  --black: #000000;
  --primary: #c9c9c9;
  --primary-content: #000000;
  --secondary: #5918db;
  --secondary-content: #000000;
}
