$app-max-width: 35rem;

@import "animations";
@import "font";
@import "scroll";
@import "themes";

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  @include std-font-props;
  font-family: "Karla", sans-serif;
  font-size: 24px;
  font-weight: $fw-regular;
}

body {
  @extend .fancy-scrollbar;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body,
main {
  height: 100%;
  min-height: 99vh;
  width: 100%;
}

nav,
main {
  max-width: $app-max-width !important;
}

::selection {
  color: var(--primary) !important;
  background: var(--white) !important;
}

svg,
img {
  width: 1.5rem;
  max-width: 100%;
  height: auto;
}

ul {
  @apply list-none;
  line-height: 1.5;
  li::before {
    content: "・";
  }
}
