$app-min-width: 20rem;
$app-max-width: 35rem;

@import "animations";
@import "font";
@import "scroll";
@import "themes";

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply outline-secondary;
}

::selection {
  background-color: var(--secondary) !important;
  color: var(--white) !important;
}

img::selection {
  background-color: var(--white) !important;
  color: var(--black) !important;
}

html,
body {
  @include std-font-props;
  font-family: "Karla", sans-serif;
  font-weight: $fw-regular;
  font-size: 18px;
  @media screen and (min-width: 30rem) {
    font-size: 22px;
  }
  @media screen and (min-width: 40rem) {
    font-size: 26px;
  }
}

body {
  @extend .fancy-scrollbar;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body,
main {
  height: 100%;
  min-height: 99vh;
  width: 100%;
}

nav,
main {
  min-width: $app-min-width !important;
  max-width: $app-max-width !important;
}

svg,
img {
  width: 1.5rem;
  max-width: 100%;
  height: auto;
}

ul {
  @apply list-none;
  line-height: 1.5;
  li::before {
    content: "・";
  }
}

.box-shadow-drop {
  transform: translate(0.25rem, -0.25rem);
  box-shadow: -0.25rem 0.25rem 0 var(--secondary);
}

table {
  border-spacing: 0 !important;

  tr {
    &:not(:first-child) {
      td {
        @apply pt-0.2rem;
      }
    }
  }
  td {
    &:not(:first-child) {
      @apply pl-sm;
    }
  }
}

.card {
  @apply rounded-xl w-full h-full border-1 border-solid;
  @extend .std-hover;
  @extend .pressable;
  -webkit-backdrop-filter: blur(0.25rem);
  backdrop-filter: blur(0.25rem);
  box-shadow: 0 4px 16px 0 rgba(100, 100, 100, 0.3);
  border-color: rgba(255, 255, 255, 0.2);
  background: rgba(50, 50, 50, 0.1);
}
